.mvn
.vscode
SimpleDtuPay/target/*
customer-service/target/*
merchant-service/target/*
MerchantFacade/target/*
payment-service/target/*
token-service/target/*
CucumberExample/target/*
reporting-service/target/*